# Default owners for all files
* @hectorhdzg @JacksonWeber @lzchen @MSNev @rads-1996 @jeremydvoss

# A365 co-owners
/src/a365/ @fpfp100 @hectorhdzg @JacksonWeber @lzchen @MSNev @rads-1996 @jeremydvoss

# LangChain instrumentation co-owners
/src/genai/instrumentations/langchain/ @fpfp100 @hectorhdzg @JacksonWeber @lzchen @MSNev @rads-1996 @jeremydvoss
