# Default owners for all files
* @hectorhdzg @JacksonWeber @lzchen @MSNev @rads-1996 @jeremydvoss

# A365 co-owners
/src/a365/ @fpfp100 @juliomenendez @alexlu4250 @ajmfehr @gwharris7 @sellakumaran @biswapm @hectorhdzg @JacksonWeber @nikhilNava @lzchen @MSNev @rads-1996 @jeremydvoss
