# Agent365 service-to-service authentication
A365_AUTHORITY=https://login.microsoftonline.com
A365_BLUEPRINT_CLIENT_ID=
A365_BLUEPRINT_CLIENT_SECRET=
A365_TENANT_ID=
A365_AGENT_ID=
A365_CLUSTER_CATEGORY=prod
